Flask
gunicorn
google-generativeai>=0.8.6
google-cloud-aiplatform
google-cloud-datastore
google-cloud-texttospeech
google-cloud-translate
python-dotenv
gspread
oauth2client
azure-cognitiveservices-speech
